.chatBubble {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 10px;
  margin: 5px 0;
  max-width: 70%;
  word-wrap: break-word;
}

.chatBubble input {
  border: none;
  outline: none;
  background: transparent;
}

.chatBubble button {
  margin-left: 5px;
}

.disabledInput {
  background-color: #777777;
  pointer-events: none;
  color: #ffffff;
}

.disabledButton {
  background-color: #777777;
  pointer-events: none;
  color: #ffffff;
}

.disabledRating {
  background-color: #777777;
  pointer-events: none;
}

.ratingButton {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 5px;
}

.selectedRating {
  background-color: #ff8e21;
  color: black;
}

.datePickerContainer {
  display: flex;
  align-items: center;
}

.ratingbbsend {
  display: flex;
  align-items: center;
  margin-left: 400px;
}

.ratingContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.ratingBox {
  background-color: blue;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.selectedRating {
  background-color: #ff8e21;
}

.ratingsend {
  display: flex;
  align-items: center;
  margin-left: 450px;
}

.ratingsend div {
  border-radius: 5px;
  padding: 2px;
  background-color: white;
}

.actionButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actionButton.clicked {
  background-color: #ff8e21;
  color: white;
}
.ratingContainer.clicked {
  background-color: #777777;
}

.datepicker {
  display: flex;
  align-items: center;
}
.datepicker1 {
  margin-bottom: 10px;
}
.centerWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.formContent {
  padding: 20px;
  border-radius: 8px;
  margin-left: 350px;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.inputBox,
.inputBox1,
.inputBox2 {
  width: 250px;
  height: 35px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  margin-top: 40px;
  margin-left: 280px;
}

.sendButton {
  height: 42px;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #1a5fff;
  color: white;
}

.mediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.mediaContainer img,
.mediaContainer video {
  max-height: 300px;
  max-width: 100%;
  object-fit: cover;
}

.bubbleImage {
  width: 40px;
  height: 40px;
  margin-right: 100px;
  display: flex;
  align-items: center;
}

.avatarImage {
  border-radius: 50%;
}

.fieldContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  overflow: scroll;
}

.disabledButton {
  background-color: #777777;
  pointer-events: none;
  color: #ffffff;
}

.disabledRating {
  background-color: #777777;
  pointer-events: none;
}

.selectedRating {
  background-color: #ff8e21;
  color: black;
}

.datePickerContainer {
  display: flex;
  align-items: center;
}

.ratingbbsend {
  display: flex;
  align-items: center;
  margin-left: 400px;
}

.ratingContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.ratingBox {
  background-color: blue;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.selectedRating {
  background-color: #ff8e21;
}

.ratingsend {
  display: flex;
  align-items: center;
  margin-left: -183px;
}

.ratingsend div {
  border-radius: 5px;
  padding: 2px;
  background-color: white;
  margin-left: 450px;
}

.actionButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 450px;
}

.actionButton.clicked {
  background-color: #ff8e21;
  color: white;
  margin-left: 450px;
}

.datepicker {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .fieldContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .inputBox1,
  .inputBox2 {
    margin-left: -130px;
  }
  .inputBox {
    margin-right: -6%;
    width: 210px;
    height: 30px;
    margin-left: -101px;
  }
  .ratingsend,
  .ratingbbsend {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .ratingContainer {
    flex-direction: row;
    justify-content: space-around;
  }
  .actionButton {
    width: 90%;
    margin: 5px auto;
  }
  .sendButton {
    margin-left: 15px;
    width: 25%;
    margin-bottom: -33px;
    margin-right: 10px;
  }
  .mediaContainer {
    justify-content: flex-start;
    width: 100%;
    margin-left: -320px;
  }
  .mediaContainer img,
  .mediaContainer video {
    margin-left: 0;
    object-fit: cover;
  }
  .avatarImage {
    margin-left: 0px;
  }
  .mediaContainer div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .inputBox {
    margin-right: -6%;
    width: 210px;
    height: 30px;
    margin-left: -280px;
  }
  .avatarImage{
    width: 100px;
  }
  .inputBox1{
    width: 180px;
    height: 26px;
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 40px;
    margin-left: -250px;
  }
  .inputBox2{
    width: 180px;
    height: 26px;
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 40px;
    margin-left: -250px;
  }
  .sendButton {
    height: 33px;
    padding: 12px 21px;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #1a5fff;
    color: white;
  }
  .mediaContainer {
    justify-content: flex-start;
    width: 100%;
    margin-left: -320px;
  }
  .mediaContainer img,
  .mediaContainer video {
    margin-left: 0;
    object-fit: cover;
  }
}

@media (max-width:900px) {
  .fieldContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .inputBox1,
  .inputBox2 {
    margin-left: -130px;
  }
  .inputBox {
    margin-right: -6%;
    width: 210px;
    height: 30px;
    margin-left: -101px;
  }
  .ratingsend,
  .ratingbbsend {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .ratingContainer {
    flex-direction: row;
    justify-content: space-around;
  }
  .actionButton {
    width: 90%;
    margin: 5px auto;
  }
  .sendButton {
    margin-left: 15px;
    width: 25%;
    margin-bottom: -33px;
    margin-right: 10px;
  }
  .mediaContainer {
    justify-content: flex-start;
    width: 100%;
    margin-left: -320px;
  }
  .mediaContainer img,
  .mediaContainer video {
    margin-left: 0;
    object-fit: cover;
  }
  .avatarImage {
    margin-left: 0px;
  }
  .mediaContainer div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.bubbleheading {
  border: 1px solid #ccc;
  padding: 10px 60px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 10px;
}
