.preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: background-color 0.3s;
  height: 100vh;
  padding: 20px; 
}

.chatRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px; 
}

.bubbleLeft, .bubbleRight {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  max-width: 60%; 
}

.bubbleLeft {
  background-color: #f1f1f1;
  color: #000;
  align-self: flex-start; 
}

.bubbleRight {
  background-color: #1A5FFF;
  color: #fff;
  align-self: flex-end; 
  margin-left: auto; 
}

.avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  margin-right: 10px; 
}
